<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Tracker SignUp</title>
    <!-- boostrap css -->
     <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <!-- main css -->
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body class="d-flex w-100 align-items-center justify-content-center" style="height: 100vh;">
    <div class="col-4 mx-auto">
        <div class="text-center mb-4">
            <h3>Change Password</h3>
        </div>
        <form method="post" action="/checkPassword">
            <input type="hidden" name="id" value="<%= loginUser._id %>"  />

            <label class="text-body-secondary mb-2 " for="oldPassword">Old Password:</label>
            <input type="password" name="oldPassword" id="oldPassword" class="form-control" placeholder="Enter Your Old Password"/>
            
            <label class="text-body-secondary mb-2 mt-3 mb-1" for="newPassword">New Password:</label>
            <input type="password" name="newPassword" id="newPassword" class="form-control" placeholder="Enter new Password"/>

            <label class="text-body-secondary mb-2 mt-3 mb-1" for="confirmPassword">Confirm Password:</label>
            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="Enter Confirm Password"/>

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary">Change</button>
                <a href="/budget" class="btn btn-secondary">Cancel</a>
            </div>
        </form>

    </div>


    <script src="/js/bootstrap.bundle.min.js" type="text/javascript"></script>
</body>
</html>