


    <footer class="text-center py-3">
        <p>Copyright ©2025 All rights reserved | <a href="https://www.linkedin.com/in/kidecha-rakesh-b035932a4/" target="_blank">@RakeshKidecha</a></p>
    </footer>

    <script src="/js/bootstrap.bundle.min.js" type="text/javascript"></script>
</body>
</html>